<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CslaAutoCloneOnUpdate" value="True" />
    <add key="CslaPropertyChangedMode" value="Windows" />
    <add key="ProjectsVendors.DalManagerType" value="ProjectsVendors.DataAccess.Sql.DalManagerProjectsVendors, ProjectsVendors.DataAccess.Sql" />
  </appSettings>
  <connectionStrings>
    <add name="ProjectsVendors"
         connectionString="Data Source=(local);Initial Catalog=ProjectsVendors;Persist Security Info=True;User ID=sa;Password=password_1234"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>